In [31]:
import numpy as np
import pandas as pd
from collections import deque, defaultdict
import scipy.io

In [32]:
def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def nodesExtractor(name): #extracts nodes and their corresponding information
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['nodesC2']
    # Reshape or ensure it's a proper 2D array (if required)
    nodes_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    nodes_df = pd.DataFrame(nodes_data, columns=['NodeID', 'X', 'Y', 'Z', 'Degree'])
    # Save the DataFrame to inspect it
    return nodes_df

def edgesExtractor(name): #extracts segments to create a dataframe of from and to nodes
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'segments' field
    data_structure = matlab_data['segments']
    # Reshape or ensure it's a proper 2D array (if required)
    edges_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    edge_df = pd.DataFrame(edges_data, columns=['Old', 'From', 'To'])
    # Save the DataFrame to inspect it
    return edge_df

def mapIDExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'mapID' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    map_raw = data_structure['mapIDs'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    map_data = map_raw.squeeze()
    # Create a DataFrame from the connectivity data
    map_df = pd.DataFrame(map_data, columns=['New', 'Old'])
    # Save the DataFrame to inspect it
    return map_df

def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def lengthExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'lengths' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    length_raw = data_structure['lengths'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    length_data = length_raw.squeeze()
    # Create a DataFrame from the data
    length_df = pd.DataFrame(length_data, columns=['Length'])
    # Save the DataFrame to inspect it
    return length_df

def radiusExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'radius' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    radius_raw = data_structure['rin'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    radius_data = radius_raw.squeeze()
    # Create a DataFrame from the data
    radius_df = pd.DataFrame(radius_data, columns=['Radius'])
    # Save the DataFrame to inspect it
    return radius_df

In [118]:
name = 'm3p4_060407'
output_name = 'c3p4_post_caval_input.csv'
fromnode = 1056
tonode = 1087
segments = edgesExtractor(name)
maps = mapIDExtractor(name)
nodes = nodesExtractor(name)
newOldIDs = pd.merge(maps, segments, on='Old', how='left')
newOldIDs

     New  Old  From    To
0      0  415   326   939
1      1    1     1     0
2      2    2     3     2
3      3    3     5     4
4      4    4     7     6
..   ...  ...   ...   ...
881  881  882  1020  1041
882  882  883  1054   865
883  883  884  1054   226
884  884  885  1062   966
885  885  886   391  1062

[886 rows x 4 columns]

In [119]:
connectivity = connectivityExtractor(name)
length = lengthExtractor(name)
radius = radiusExtractor(name)
data = pd.concat([connectivity.iloc[:, :1], length, radius, connectivity.iloc[:, 1:]], axis=1)
data

     Parent       Length      Radius  Daughter1  Daughter2  Daughter3
0       0.0  5768.221630  430.712842      677.0      832.0        NaN
1       1.0   337.675232  109.534494        NaN        NaN        NaN
2       2.0   510.047589  112.763586        NaN        NaN        NaN
3       3.0   847.722821   76.512929        NaN        NaN        NaN
4       4.0   522.371882  128.856855        NaN        NaN        NaN
..      ...          ...         ...        ...        ...        ...
881   881.0  1331.732649  188.195472      598.0      599.0      456.0
882   882.0   236.330642  178.171603      376.0      671.0        NaN
883   883.0  1014.456072  116.806992       87.0      357.0        NaN
884   884.0  2077.122036  388.159896      834.0      835.0        NaN
885   885.0  1200.541899  325.671249      623.0      624.0      884.0

[886 rows x 6 columns]

In [120]:
vessels = np.empty((0,0))
dl = np.empty((0,0))
dr = np.empty((0,0))
length = np.empty((0,0))
r1 = np.empty((0,0))
r2 = np.empty((0,0))
r = np.empty((0,0))
newVesID = int(newOldIDs[((newOldIDs['From'] == fromnode)&(newOldIDs['To']==tonode))].iloc[0,0])
vessels = np.append(vessels, newVesID)
i = 0
while len(vessels)<100:
    if not np.isnan(data[data['Parent']==vessels[i]].iloc[0,3]):
        if data[data['Parent']==vessels[i]].iloc[0,2]>=.4*data.iloc[0,2]:
            dv1 = data[data['Parent']==vessels[i]].iloc[0,3]
            if data[data['Parent']==dv1].iloc[0,2]>=.4*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,3])
            dv2 = data[data['Parent']==vessels[i]].iloc[0,4]
            if data[data['Parent']==dv2].iloc[0,2]>=.4*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,4])
    if i+1 == len(vessels):
        break
    i+=1

for j in np.arange(len(vessels)):
    length = np.append(length,data[data['Parent']==vessels[j]].iloc[0,1]/1000)
    r1 = np.append(r1,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r2 = np.append(r2,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r = np.append(r,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    if j>i-1:
        dl = np.append(dl,np.nan)
        dr = np.append(dr,np.nan)
        continue
    dl = np.append(dl, data[data['Parent']==vessels[j]].iloc[0,3])
    dr = np.append(dr, data[data['Parent']==vessels[j]].iloc[0,4])

In [121]:
vessel_data = pd.DataFrame({'vesid':vessels,'dl':dl,'dr':dr})
vessel_data

    vesid     dl     dr
0   862.0  691.0  692.0
1   691.0  242.0  698.0
2   692.0  532.0  604.0
3   604.0  602.0  603.0
4   602.0   72.0  752.0
5   603.0  731.0  850.0
6   850.0  687.0  851.0
7   851.0  282.0  736.0
8   736.0  301.0  735.0
9   735.0  557.0  768.0
10  557.0  104.0  324.0
11  768.0   93.0  846.0
12  846.0  844.0  847.0
13  844.0  810.0  845.0
14  845.0    NaN    NaN

In [122]:
x1 = np.empty((0,0))
y1 = np.empty((0,0))
z1 = np.empty((0,0))
x2 = np.empty((0,0))
y2 = np.empty((0,0))
z2 = np.empty((0,0))

for m in np.arange(len(vessels)):
    fromnode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,2]
    tonode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,3]
    x1 = np.append(x1,nodes[nodes['NodeID']==fromnode].iloc[0,1]/1000)
    y1 = np.append(y1,nodes[nodes['NodeID']==fromnode].iloc[0,2]/1000)
    z1 = np.append(z1,nodes[nodes['NodeID']==fromnode].iloc[0,3]/1000)
    x2 = np.append(x2,nodes[nodes['NodeID']==tonode].iloc[0,1]/1000)
    y2 = np.append(y2,nodes[nodes['NodeID']==tonode].iloc[0,2]/1000)
    z2 = np.append(z2,nodes[nodes['NodeID']==tonode].iloc[0,3]/1000)

In [123]:
# Step 1: Create mapping from vesid (parents) to new sequential IDs
id_map = {old_id: new_id for new_id, old_id in enumerate(vessel_data['vesid'].dropna().unique())}

# Step 2: Build daughter-to-parent map
daughter_to_parent = {}
for _, row in vessel_data.iterrows():
    for daughter in [row['dl'], row['dr']]:
        if pd.notna(daughter):
            daughter_to_parent[daughter] = row['vesid']

# Step 3: Build result DataFrame
rows = []

for _, row in vessel_data.iterrows():
    current_id = row['vesid']
    new_index = id_map[current_id]

    # Get parent of current_id
    original_parent = daughter_to_parent.get(current_id, None)
    new_parent = id_map.get(original_parent, -10)  # If parent is not in vesid, use -10

    # Get new daughter indices if daughters are themselves vesid entries, else -10
    dl_new = id_map[row['dl']] if pd.notna(row['dl']) and row['dl'] in id_map else -10
    dr_new = id_map[row['dr']] if pd.notna(row['dr']) and row['dr'] in id_map else -10

    rows.append({'p': new_parent, 'dl': dl_new, 'dr': dr_new})

# Step 4: Create DataFrame
renumbered_ves = pd.DataFrame(rows)

print(renumbered_ves)

     p  dl  dr
0  -10   1   2
1    0 -10 -10
2    0 -10   3
3    2   4   5
4    3 -10 -10
5    3 -10   6
6    5 -10   7
7    6 -10   8
8    7 -10   9
9    8  10  11
10   9 -10 -10
11   9 -10  12
12  11  13 -10
13  12 -10  14
14  13 -10 -10

In [124]:
p = renumbered_ves['p'].to_numpy()
dlC = renumbered_ves['dl'].to_numpy()
drC = renumbered_ves['dr'].to_numpy()
vessel_data = pd.DataFrame({'x1':x1,'y1':y1,'z1':z1,'x2':x2,'y2':y2,'z2':z2,'l':length,
                            'r1':r1,'r2':r2,'r':r,'p':p,'dl':dlC,'dr':drC,
                            'inside':np.ones(len(vessels)),'nt':np.ones(len(vessels))})
vessel_data = vessel_data.round(5)
vessel_data

,x1,y1,z1,x2,y2,z2,l,r1,r2,r,p,dl,dr,inside,nt
0,8.36461,6.55604,10.68183,7.57336,5.31265,13.62074,4.14057,0.28291,0.28291,0.28291,-10,1,2,1.0,1.0
1,7.57336,5.31265,13.62074,7.85595,4.86051,13.79029,0.66990,0.18983,0.18983,0.18983,0,-10,-10,1.0,1.0
2,7.57336,5.31265,13.62074,7.51684,6.16042,15.31627,2.35971,0.26185,0.26185,0.26185,0,-10,3,1.0,1.0
3,7.51684,6.16042,15.31627,7.46032,6.16042,15.71189,0.54860,0.28423,0.28423,0.28423,2,4,5,1.0,1.0
4,7.46032,6.16042,15.71189,8.19505,5.65176,16.55966,1.35232,0.18371,0.18371,0.18371,3,-10,-10,1.0,1.0
5,7.46032,6.16042,15.71189,7.12122,7.23425,17.06832,1.94493,0.27721,0.27721,0.27721,3,-10,6,1.0,1.0
6,7.12122,7.23425,17.06832,7.17774,7.46032,17.06832,0.29630,0.25708,0.25708,0.25708,5,-10,7,1.0,1.0
7,7.17774,7.46032,17.06832,6.95166,7.79943,17.23787,0.53064,0.23669,0.23669,0.23669,6,-10,8,1.0,1.0
8,6.95166,7.79943,17.23787,6.83863,8.02550,17.46394,0.35564,0.23826,0.23826,0.23826,7,-10,9,1.0,1.0
9,6.83863,8.02550,17.46394,6.61256,8.92978,17.97260,1.19228,0.22738,0.22738,0.22738,8,10,11,1.0,1.0
10,6.61256,8.92978,17.97260,6.72559,8.92978,18.14215,0.21637,0.19935,0.19935,0.19935,9,-10,-10,1.0,1.0
11,6.61256,8.92978,17.97260,6.38649,9.32540,18.08563,0.53064,0.20470,0.20470,0.20470,9,-10,12,1.0,1.0
12,6.38649,9.32540,18.08563,5.87783,9.89058,18.65081,1.03806,0.19883,0.19883,0.19883,11,13,-10,1.0,1.0
13,5.87783,9.89058,18.65081,5.65176,10.51227,18.82036,0.94561,0.19547,0.19547,0.19547,12,-10,14,1.0,1.0
14,5.65176,10.51227,18.82036,5.76480,10.56879,18.70733,0.17782,0.19032,0.19032,0.19032,13,-10,-10,1.0,1.0

In [125]:
vessel_data.to_csv(output_name,index=False)