In [10]:
import numpy as np
import pandas as pd
from collections import deque, defaultdict
import scipy.io

In [11]:
def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def nodesExtractor(name): #extracts nodes and their corresponding information
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['nodesC2']
    # Reshape or ensure it's a proper 2D array (if required)
    nodes_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    nodes_df = pd.DataFrame(nodes_data, columns=['NodeID', 'X', 'Y', 'Z', 'Degree'])
    # Save the DataFrame to inspect it
    return nodes_df

def edgesExtractor(name): #extracts segments to create a dataframe of from and to nodes
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'segments' field
    data_structure = matlab_data['segments']
    # Reshape or ensure it's a proper 2D array (if required)
    edges_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    edge_df = pd.DataFrame(edges_data, columns=['Old', 'From', 'To'])
    # Save the DataFrame to inspect it
    return edge_df

def mapIDExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'mapID' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    map_raw = data_structure['mapIDs'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    map_data = map_raw.squeeze()
    # Create a DataFrame from the connectivity data
    map_df = pd.DataFrame(map_data, columns=['New', 'Old'])
    # Save the DataFrame to inspect it
    return map_df

def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def lengthExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'lengths' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    length_raw = data_structure['lengths'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    length_data = length_raw.squeeze()
    # Create a DataFrame from the data
    length_df = pd.DataFrame(length_data, columns=['Length'])
    # Save the DataFrame to inspect it
    return length_df

def radiusExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'radius' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    radius_raw = data_structure['rin'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    radius_data = radius_raw.squeeze()
    # Create a DataFrame from the data
    radius_df = pd.DataFrame(radius_data, columns=['Radius'])
    # Save the DataFrame to inspect it
    return radius_df

In [12]:
name = 'm1p1_053107'
output_name = 'GeneratorInput/'+name+'_left_lobe'
fromnode = 3954
tonode = 3900
segments = edgesExtractor(name)
maps = mapIDExtractor(name)
nodes = nodesExtractor(name)
newOldIDs = pd.merge(maps, segments, on='Old', how='left')
newOldIDs

       New   Old  From    To
0        0   911  2489  3954
1        1     1     1     0
2        2     2     3     2
3        3     3     7     6
4        4     4    11    10
...    ...   ...   ...   ...
3260  3260  3260  4455  3658
3261  3261  3261  4455  3631
3262  3262  3263  4469   319
3263  3263  3264  4485  4486
3264  3264  3265  4486  3830

[3265 rows x 4 columns]

In [13]:
connectivity = connectivityExtractor(name)
length = lengthExtractor(name)
radius = radiusExtractor(name)
data = pd.concat([connectivity.iloc[:, :1], length, radius, connectivity.iloc[:, 1:]], axis=1)
data

      Parent       Length      Radius  Daughter1  Daughter2  Daughter3
0        0.0  4719.215827  465.729884     1967.0     2285.0        NaN
1        1.0   782.177117   56.128057        NaN        NaN        NaN
2        2.0   349.898998   64.298561        NaN        NaN        NaN
3        3.0   293.065812   78.247701        NaN        NaN        NaN
4        4.0   252.878680   63.816610        NaN        NaN        NaN
...      ...          ...         ...        ...        ...        ...
3260  3260.0  1053.305943   95.872344     1365.0     1504.0        NaN
3261  3261.0   800.691402  118.343149     1353.0     3211.0        NaN
3262  3262.0   856.875794   87.946759      107.0     1546.0        NaN
3263  3263.0   527.880594  138.092672     1563.0     2898.0     3264.0
3264  3264.0   497.874557   97.594058     1429.0     3151.0        NaN

[3265 rows x 6 columns]

In [16]:
vessels = np.empty((0,0))
dl = np.empty((0,0))
dr = np.empty((0,0))
length = np.empty((0,0))
r1 = np.empty((0,0))
r2 = np.empty((0,0))
r = np.empty((0,0))
newVesID = int(newOldIDs[((newOldIDs['From'] == fromnode)&(newOldIDs['To']==tonode))].iloc[0,0])
vessels = np.append(vessels, newVesID)
i = 0
while len(vessels)<1000:
    if not np.isnan(data[data['Parent']==vessels[i]].iloc[0,3]):
        if data[data['Parent']==vessels[i]].iloc[0,2]>=0*data.iloc[0,2]:
            dv1 = data[data['Parent']==vessels[i]].iloc[0,3]
            if data[data['Parent']==dv1].iloc[0,2]>=0*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,3])
            dv2 = data[data['Parent']==vessels[i]].iloc[0,4]
            if data[data['Parent']==dv2].iloc[0,2]>=0*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,4])
            if not np.isnan(data[data['Parent']==vessels[i]].iloc[0,5]):
                dv3 = data[data['Parent']==vessels[i]].iloc[0,5]
                if data[data['Parent']==dv3].iloc[0,2]>=0*data.iloc[0,2]:
                    vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,5])
    if i+1 == len(vessels):
        break
    i+=1

for j in np.arange(len(vessels)):
    length = np.append(length,data[data['Parent']==vessels[j]].iloc[0,1]/1000)
    r1 = np.append(r1,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r2 = np.append(r2,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r = np.append(r,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    if j>i-1:
        dl = np.append(dl,np.nan)
        dr = np.append(dr,np.nan)
        continue
    dl = np.append(dl, data[data['Parent']==vessels[j]].iloc[0,3])
    dr = np.append(dr, data[data['Parent']==vessels[j]].iloc[0,4])

In [17]:
vessel_data = pd.DataFrame({'vesid':vessels,'dl':dl,'dr':dr})
vessel_data

      vesid      dl      dr
0    2285.0  1777.0  2484.0
1    1777.0  1776.0  1778.0
2    2484.0  1745.0  2051.0
3    1776.0    20.0    30.0
4    1778.0  1153.0  1856.0
..      ...     ...     ...
991   357.0     NaN     NaN
992  1326.0     NaN     NaN
993  2853.0   106.0  1545.0
994   106.0     NaN     NaN
995  1545.0     NaN     NaN

[996 rows x 3 columns]

In [18]:
x1 = np.empty((0,0))
y1 = np.empty((0,0))
z1 = np.empty((0,0))
x2 = np.empty((0,0))
y2 = np.empty((0,0))
z2 = np.empty((0,0))

for m in np.arange(len(vessels)):
    fromnode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,2]
    tonode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,3]
    x1 = np.append(x1,nodes[nodes['NodeID']==fromnode].iloc[0,1]/1000)
    y1 = np.append(y1,nodes[nodes['NodeID']==fromnode].iloc[0,2]/1000)
    z1 = np.append(z1,nodes[nodes['NodeID']==fromnode].iloc[0,3]/1000)
    x2 = np.append(x2,nodes[nodes['NodeID']==tonode].iloc[0,1]/1000)
    y2 = np.append(y2,nodes[nodes['NodeID']==tonode].iloc[0,2]/1000)
    z2 = np.append(z2,nodes[nodes['NodeID']==tonode].iloc[0,3]/1000)

In [8]:
# Step 1: Create mapping from vesid (parents) to new sequential IDs
id_map = {old_id: new_id for new_id, old_id in enumerate(vessel_data['vesid'].dropna().unique())}

# Step 2: Build daughter-to-parent map
daughter_to_parent = {}
for _, row in vessel_data.iterrows():
    for daughter in [row['dl'], row['dr']]:
        if pd.notna(daughter):
            daughter_to_parent[daughter] = row['vesid']

# Step 3: Build result DataFrame
rows = []

for _, row in vessel_data.iterrows():
    current_id = row['vesid']
    new_index = id_map[current_id]

    # Get parent of current_id
    original_parent = daughter_to_parent.get(current_id, None)
    new_parent = id_map.get(original_parent, -10)  # If parent is not in vesid, use -10

    # Get new daughter indices if daughters are themselves vesid entries, else -10
    dl_new = id_map[row['dl']] if pd.notna(row['dl']) and row['dl'] in id_map else -10
    dr_new = id_map[row['dr']] if pd.notna(row['dr']) and row['dr'] in id_map else -10

    rows.append({'p': new_parent, 'dl': dl_new, 'dr': dr_new})

# Step 4: Create DataFrame
renumbered_ves = pd.DataFrame(rows)

print(renumbered_ves)

    p  dl  dr
0 -10 -10 -10

In [19]:
# Step 1: Create mapping from vesid (parents) to new sequential IDs
id_map = {old_id: new_id for new_id, old_id in enumerate(vessel_data['vesid'].dropna().unique())}

# Step 2: Build daughter-to-parent map
daughter_to_parent = {}
for _, row in vessel_data.iterrows():
    for daughter in [row.get('dl'), row.get('dr'), row.get('dt')]:  # Support 'dt' as third daughter
        if pd.notna(daughter):
            daughter_to_parent[daughter] = row['vesid']

# Step 3: Build result DataFrame
rows = []

for _, row in vessel_data.iterrows():
    current_id = row['vesid']
    new_index = id_map[current_id]

    # Get parent of current_id (from daughter-to-parent map)
    original_parent = daughter_to_parent.get(current_id, None)
    new_parent = id_map.get(original_parent, -10)  # Default to -10 if missing

    # Get new daughter indices, default to -10 if missing or unmapped
    daughters = []
    for col in ['dl', 'dr', 'dt']:
        daughter = row.get(col)
        if pd.notna(daughter) and daughter in id_map:
            daughters.append(id_map[daughter])
        else:
            daughters.append(-10)

    rows.append({
        'p': new_parent,
        'dl': daughters[0],
        'dr': daughters[1],
        'dt': daughters[2]
    })

# Step 4: Create DataFrame
renumbered_ves = pd.DataFrame(rows)

print(renumbered_ves)

       p   dl   dr  dt
0    -10    1    2 -10
1      0    3    4 -10
2      0    5    6 -10
3      1    7    8 -10
4      1    9   10 -10
..   ...  ...  ...  ..
991  986  -10  -10 -10
992  987  -10  -10 -10
993  987  994  995 -10
994  993  -10  -10 -10
995  993  -10  -10 -10

[996 rows x 4 columns]

In [21]:
p = renumbered_ves['p'].to_numpy()
d1 = renumbered_ves['dl'].to_numpy()
d2 = renumbered_ves['dr'].to_numpy()
d3 = renumbered_ves['dt'].to_numpy()
vessel_data = pd.DataFrame({'x1':x1,'y1':y1,'z1':z1,'x2':x2,'y2':y2,'z2':z2,'l':length,
                            'r1':r1,'r2':r2,'r':r,'p':p,'d1':d1,'d2':d2,'d3':d3,
                            'inside':np.ones(len(vessels), dtype=int),'nt':np.ones(len(vessels), dtype=int)})
vessel_data = vessel_data.round(5)
vessel_data

,x1,y1,z1,x2,y2,z2,l,r1,r2,r,p,d1,d2,d3,inside,nt
0,9.20285,11.41315,4.05890,6.83181,10.81034,5.70657,3.61568,0.30045,0.30045,0.30045,-10,1,2,-10,1,1
1,6.83181,10.81034,5.70657,6.87200,11.45333,5.50564,0.82338,0.06241,0.06241,0.06241,0,3,4,-10,1,1
2,6.83181,10.81034,5.70657,6.26919,11.17202,6.42994,1.16924,0.29745,0.29745,0.29745,0,5,6,-10,1,1
3,6.87200,11.45333,5.50564,6.83181,11.29258,5.18414,0.49298,0.07604,0.07604,0.07604,1,7,8,-10,1,1
4,6.87200,11.45333,5.50564,7.03275,11.57389,5.70657,0.30971,0.08650,0.08650,0.08650,1,9,10,-10,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,1.56730,12.65895,15.39167,1.40655,12.94026,14.98980,0.57336,0.04889,0.04889,0.04889,986,-10,-10,-10,1,1
992,1.72805,12.61876,15.63279,2.04954,12.85988,15.67298,0.45969,0.08252,0.08252,0.08252,987,-10,-10,-10,1,1
993,1.72805,12.61876,15.63279,1.64767,12.90007,15.79354,0.40673,0.08913,0.08913,0.08913,987,994,995,-10,1,1
994,1.64767,12.90007,15.79354,1.64767,13.34213,15.99448,0.58413,0.05063,0.05063,0.05063,993,-10,-10,-10,1,1
995,1.64767,12.90007,15.79354,1.48692,13.10100,15.59261,0.44692,0.05211,0.05211,0.05211,993,-10,-10,-10,1,1

In [17]:
vessel_data.to_csv(output_name+'.csv',index=False)
vessel_data.to_csv(output_name+'.dat', sep='\t', header=False, index=False)